@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    cursor     : url('images/dot.svg') 16 16, auto;
    font-family: 'Source Code Pro', sans-serif;
    margin     : 0;
    padding    : 0;
}

html,
body {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    user-select    : none;
    background     : #0d1117;
    width          : 100%;
    height         : 100%;
}

@keyframes title {
    0%, 100% { color: white;  }
    60%      { color: violet; }
    20%, 80% { color: pink;   }
}

#title {
    --value                  : calc((3vw + 3vh) / 2); /* multi-purpose value */

    animation-name           : title;
    animation-duration       : 5s;
    animation-iteration-count: infinite;
    z-index                  : 2;
    position                 : fixed;
    top                      : var(--value);
    font-size                : var(--value);
    font-weight              : bold;
}

#buttonsContainer {
    z-index : 2;
    position: fixed;
    top     : calc((7.5vw + 7.5vh) / 2);

    &,
    & * {
        color    : white;
        font-size: calc((1.3vw + 1.3vh) / 2);
    }

    & p {
        display: inline;
    }

    & button {
        display   : inline;
        padding   : calc((.75vw + .75vh) / 2);
        background: none;
        border    : none;
        outline   : none;
        color     : white;
    }
}

a {
    --value  : calc((1.5vw + 1.5vh) / 2); /* multi-purpose value */

    position : fixed;
    top      : var(--value);
    right    : var(--value);
    z-index  : 2;
    font-size: var(--value);

    &:link {
        color: white;
    }

    &:hover,
    &:active {
        color: gray;
    }

    &:visited {
        color: #777777;
    }
}

#canvas {
    z-index: 1;
    height : 100vh;
    width  : 100vw;
}

.fps {
    --value: calc((1.5vw + 1.5vh) / 2); /* another multi-purpose value */

    position : fixed;
    z-index  : 2;
    top      : var(--value);
    left     : var(--value);
    color    : white;
    font-size: calc(var(--value) * 1.75);
}