@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    cursor: url('images/dot.svg') 16 16, auto;
    font-family: 'Source Code Pro', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    background: #0d1117;
    width: 100svw;
    height: 100svh;
}

@keyframes title {
    0%, 100% { color: white; }
    20%, 80% { color: pink; }
    60% { color: violet; }
}

#title {
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 2;
    position: fixed;
    top: 45px;
    font-size: 45px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#buttonsContainer {
    z-index: 2;
    position: fixed;
    top: 106px;
    color: white;
}

#spawn,
#delete {
    display: inline;
    padding: 4px;
}

a {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    font-size: 20px;
}

a:link {
    color: white;
}

a:hover {
    color: gray;
}

a:visited {
    color: #777777;
}

a:active {
    color: gray;
}

#canvas {
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.fps {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 40px;
}

@media only screen and (max-width: 400px) {
    #title {
        font-size: 27px;
    }

    #buttonsContainer {
        font-size: 9.6px;
        top: 81.6px;
    }

    a {
        font-size: 12px;
    }

    .fps {
        font-size: 24px;
    }
}